

/*--------------------------------------------------------------------------------------------------- fonts */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

:root{
	--cafe-map: rgb(252, 235, 146);
}
/*--------------------------------------------------------------------------------------------------- colours */
.nav-bg-color{
	background-color: rgb(100, 100, 100);
}



/*--------------------------------------------------------------------------------------------------- General */
body{
    color: rgb(240, 120, 22);
	font-family: "play", verdana;
	background: url("../images/background-1.jpg");
	background-size: cover;
	background-repeat: none;
	background-color: rgb(100, 100, 100);
	
}

.text-center{
	text-align: center;
}

.page-content{
	padding-top: 20vh;
	}


/*--------------------------------------------------------------------------------------------------- Navbar */



nav{
    height: 15%;
}
.navbar-logo{  /* media queries may be necessary for extremely low screen sizes */
	position: fixed;
	z-index: 1031; /*bootstrap fixed z-index is 1030 */
	height: 11%;
	top: 2%
}

/*--------------------------------------------------------------------------------------------------- home title */

#home-banner{
	padding-bottom: 5vh;
	margin-bottom: 5vh;
}
#home-title{
	font-family: "Sarina", cursive;
	text-align: center;
	font-size: 500%;
	color: rgb(19,224,255);
}

#slogan{
	font-style: italic;
	text-align: center;
	color: rgb(255, 148, 228);
}

#home-description{
	color: rgb(121, 252, 158);
}

#order-button{
	text-align: center;
	margin-bottom: 20vh;
}

.home-page-map{
	margin-top: 5vh;
	width: 700;
	height: 700;
	
	border: 0;
}

.location-info{
	margin-top: -13vh;
	color: var(--cafe-map);
	margin-bottom: 2vh;
	
}

/*--------------------------------------------------------------------------------------------------- About page */
.thumbnail{
	filter: brightness(60%);
	margin-bottom: 10vh;
}

.thumbnail:hover{
	filter: brightness(100%);
}
#thumbnail-1{
	width: 70%;
}
#thumbnail-2{
	width: 70%;
}

#thumbnail-3{
	width: 70%;
}


/*--------------------------------------------------------------------------------------------------- footer */

footer{
	background-color: rgb(0, 51, 102);
}

footer h2{
	color: rgb(255, 255, 102);
}


.social-icons a{
	color: rgb(240, 120, 22);
}

.social-icons a:hover{
	text-decoration: none;
}


/*--------------------------------------------------------------------------------------------------- Media Queries */

	
@media only screen and (max-width: 767px) {
	

.footer-info-div{
	background-color: rgb(0, 64, 128);
}

.footer-award-div{
	background-color: rgb(0, 77, 153);
}
.hidden-sm{
	visibility: hidden;
}

.social-icons{
	display: inline-block;
	margin: 0;
	padding-left: 12%;
	
	max-width: 24%;
	text-align: left;
	font-size: 200%;
}

#thumbnail-1{
	margin-bottom: 1vh;
	padding-bottom: 1vh;
}
#thumbnail-2{
	margin-top: 1vh;
	padding-top: 1vh;
	margin-bottom: 1vh;
	padding-bottom: 1vh;
}

#thumbnail-3{
	margin-top: 1vh;
	padding-top: 1vh;
}

}


@media only screen and (max-width: 991px)
{
	.location-info{
	margin-top: 5vh;
}
}







