/*--------------------------------------------------------------------------------------------------- fonts */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');


/*--------------------------------------------------------------------------------------------------- colours */

/*--------------------------------------------------------------------------------------------------- General */
body{
	font-family: "play", verdana;
}

/*--------------------------------------------------------------------------------------------------- Navbar */



nav{
    height: 15%;
}

.navbar-logo{  /* media queries may be necessary for extremely low screen sizes */
	position: fixed;
	z-index: 1031; /*bootstrap fixed z-index is 1030 */
	height: 11%;
	top: 2%
}

/*--------------------------------------------------------------------------------------------------- body */

p {
    color: rgb(240, 120, 22);
}

/*--------------------------------------------------------------------------------------------------- footer */

footer{
	background-color: rgb(0, 51, 102);
}

footer a{
	color: color: rgb(240, 120, 22);
}

/*--------------------------------------------------------------------------------------------------- Media Queries */

	
@media only screen and (max-width: 767px) {
	

.footer-info-div{
	background-color: rgb(0, 64, 128);
}

.footer-award-div{
	background-color: rgb(0, 77, 153);
}
.hidden-sm{
	visibility: hidden;
}
}







