/*--------------------------------------------------------------------------------------------------- colours */

/*--------------------------------------------------------------------------------------------------- Navbar */



nav{
    height: 15%;
}

.navbar-logo{  /* media queries may be necessary for extremely low screen sizes */
	position: fixed;
	z-index: 1031; /*bootstrap fixed z-index is 1030 */
	height: 11%;
	top: 2%
}

/*--------------------------------------------------------------------------------------------------- body */

p {
    color: rgb(240, 120, 22);
}
